

.environmentText2 {
    max-width: 700px;        
  align-self: flex-start;  
  margin-left: 0;         
  text-align: left;         
  line-height: 1.6;
}

h2 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 0px;
}