.homepage {
  flex: 1;
  display: flex; 
  flex-direction: column;   
  padding: 20px;
    align-items: center;
    text-align: center;
}


.homepageText1 {
  max-width: 700px;        
  align-self: flex-start;  
  margin-left: 0;         
  text-align: left;         
  line-height: 1.6;

}

h2 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 0px;
}

.homeImage1 {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.homeImage2 {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.homeImage3 {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}