.sourcespage {
    flex: 1;
    display: flex; 
    flex-direction: column;   
    padding: 20px;
      align-items: center;
      text-align: center;
  }
  
  h2 {
      font-weight: bold;
      font-size: 2.5rem;
      margin-bottom: 0px;
  }
  
  .row {
    width: 100%;
    margin-top: 20px;
  }
  
  .column {
    float: left;
    width: 90%; 
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  